@model PfeApp.Models.Pfe

@{
    ViewData["Title"] = "Details";
}
    @if (User.Identity.IsAuthenticated)
{


    <h1>Details Pfe </h1>
    <hr />
    <br />

    <div>

        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Desc)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.DateD)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.DateD)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.DateF)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.DateF)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Encadrant)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Encadrant.Nom)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Societe)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Societe.Adresse)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
}