@model IEnumerable<PfeApp.Models.Enseignant>

@{
    ViewData["Title"] = "Index";
}

    @if (User.Identity.IsAuthenticated)
{

    <p>
        <a asp-action="Create"><i class="fa fa-user-plus" aria-hidden="true"></i>  Creer nouveau enseignant </a>
    </p>
    <br />

    <table id="myTable"  class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prenom)
                </th>
                <th> Actions </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prenom)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"> <i class="fa fa-eye" aria-hidden="true"></i></a> |
                        <a asp-action="Details" asp-route-id="@item.Id"> <i class="fa fa-info-circle" aria-hidden="true"></i></a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">  <i class="fa fa-trash" aria-hidden="true"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}