@model PfeApp.Models.Soutenance

@{
    ViewData["Title"] = "Delete";
}
    @if (User.Identity.IsAuthenticated)
{

    <h1>Delete</h1>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Soutenance</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Date)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Heure)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Heure)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Pfe)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Pfe.Desc)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.President)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.President.Nom)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Rapporteur)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Rapporteur.Nom)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
}