@model PfeApp.Models.Soutenance

@{
    ViewData["Title"] = "Details";
}
    @if (User.Identity.IsAuthenticated)
{

    <h1>Details Soutenance </h1>
    <hr />
    <br />

    <div>

        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Date)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Heure)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Heure)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Pfe)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Pfe.Desc)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.President)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.President.Nom)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Rapporteur)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Rapporteur.Nom)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
}