@model IEnumerable<PfeApp.Models.Societe>

@{
    ViewData["Title"] = "Index";
}

    @if (User.Identity.IsAuthenticated)
{

    <p>
        <a asp-action="Create"> <i class="fa fa-user-plus" aria-hidden="true"></i> Creer un Societe </a>
    </p>
    <br />
    <table id="myTable" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Lib)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Adresse)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tel)
                </th>
                <th> Actions </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lib)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adresse)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tel)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"> <i class="fa fa-eye" aria-hidden="true"></i>  </a> |
                        <a asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-info-circle" aria-hidden="true"></i> </a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">  <i class="fa fa-trash" aria-hidden="true"></i></a>
                    </td>                

                </tr>
            }
        </tbody>
    </table>

}